<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.projoomexperts.imate"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>iMate</name>

    <description>
        iMate Test App
    </description>

    <author href="https://projoomexperts.com" email="projoomexperts@gmail.com">
        projoomexperts 
    </author>
    
    <plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />
    
    <access origin="*" />
    
    <splash src="splash.png" />
    
    <icon src="icon.png" />

    
    
</widget>
